<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note App</title>
    <link rel="stylesheet" href="styles/output.css">
</head>
<body class="min-h-screen flex flex-col">
    <nav class="bg-blue-500 text-3xl text-white font-semibold py-3 px-3 shadow-md shadow-zinc-400"><a href="/">Note Keep</a></nav>
    <div class=" container flex flex-col p-4  items-center justify-center">
        <p class="text-xl font-semibold text-zinc-700">Note keep App Created using NodeJS, Ejs, MongoDB and tailwindcss</p>
        <div class="h-0.5 w-full bg-blue-500 my-2"></div>
        <div class="flex items-center justify-around gap-4">
            <a href="/login">
                <button class='bg-blue-500 text-white font-semibold p-3 rounded-md text-lg hover:bg-blue-600 transition duration-300'>Login</button>
            </a>
            <a href="/signup">
                <button class="bg-blue-500 text-white font-semibold p-3 rounded-md text-lg hover:bg-blue-600 transition duration-300">
                    Signup
                </button>
            </a>
            <a href="/note">
                <button class="bg-blue-500 text-white font-semibold p-3 rounded-md text-lg hover:bg-blue-600 transition duration-300">
                    Go to Dashboard
                </button>
            </a>
        </div>
    </div>
    <footer class="bg-zinc-200 text-zinc-950 text-xl w-full flex items-center justify-center mt-auto py-2">
        Created by Utkarsh Tiwari
    </footer>
</body>
</html>