<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note App</title>
    <link rel="stylesheet" href="./styles/output.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body class="min-h-screen flex flex-col">
    <nav class="bg-blue-500 text-3xl text-white font-semibold py-3 px-3 shadow-md shadow-zinc-400">Note Keep</nav>
    <form action="note/create" method="post" class="flex flex-col mt-2 self-center bg-zinc-100 p-6 rounded-lg shadow-md max-w-md w-full">
        
        <input 
            type="text" 
            id="title" 
            name="title"
            placeholder="Title"
            class="p-3 bg-zinc-100  rounded-md mb-1 outline-none focus:ring-2 focus:ring-blue-500 text-zinc-900 placeholder:text-zinc-500"
            required
        >


        <textarea
            id="content"
            name="content"
            placeholder="Content of the note" 
            class="p-3 bg-zinc-100 rounded-md mb-2 outline-none focus:ring-2 focus:ring-blue-500 text-zinc-900 placeholder:text-zinc-500 h-auto resize-none"
            required
        ></textarea>

        <button type="submit" class="bg-blue-500 text-white font-semibold p-3 rounded-md text-lg hover:bg-blue-600 transition duration-300 ease-in-out">Create</button>
    </form>

    <div class="flex-wrap flex gap-4 mt-4 p-4">
        <% if (notes.length === 0) { %>
            <p class="self-center text-3xl text-zinc-400 mt-4 w-full text-center font-semibold">No Notes Found</p>
        <% } %>

        <% if (notes.length > 0) { %>
            <% notes.forEach(note => { %>
                <div class="bg-zinc-100 text-zinc-950 text-wrap break-words p-4 rounded-md border-l-4 shadow-md shadow-zinc-500 border-blue-500 flex flex-col gap-1 w-64 h-fit pb-0">
                    <h2 class="text-xl font-bold"> <%= note.title %> </h2>
                    <div class="h-0.5 w-full bg-zinc-300 my-1"></div>
                    <p class="text-base font-semibold text-zinc-600 text-wrap"><%= note.content %></p>
                    <div class="flex items-center justify-start gap-2 pb-2 pt-2 mt-auto">
                        <a href="note/edit/<%= note._id %>">
                            <button>
                                <i class='bx bxs-edit-alt bg-blue-500 text-zinc-100 font-semibold p-1 rounded-full text-xl'></i>
                            </button>
                        </a>
                        <a href="note/delete/<%= note._id %>">
                            <button>
                                <i class='bx bx-x  bg-blue-500 text-zinc-100 font-semibold p-1 rounded-full text-xl'></i>
                            </button>
                        </a>
                    </div>
                </div>
            <% }) %>
        <% } %>
    </div>
    <footer class="bg-zinc-200 text-zinc-950 text-xl w-full flex items-center justify-center mt-auto py-2">
        Created by Utkarsh Tiwari
    </footer>
</body>
</html>
