<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note App</title>
    <link rel="stylesheet" href="styles/output.css">
    <style>
        .bg-blur {
            background-image: url('https://static.vecteezy.com/system/resources/previews/003/428/332/non_2x/night-landscape-with-mountain-and-moonlight-vector.jpg');
            background-size: cover;
            backdrop-filter: blur(5px); 
            background-blend-mode: hard-light; 
            background-color: rgba(255, 255, 255, 0.1); 
        }
    </style>
</head>
<body class="min-h-screen flex flex-col bg-blur">
    <nav class="bg-blue-600 text-3xl text-white font-semibold py-3 px-3"><a href="/">Note Keep</a></nav>
    <div class=" container flex flex-col p-4  items-center justify-center">
        <p class="text-xl font-semibold text-zinc-200">Note keep App Created using NodeJS, Ejs, MongoDB and tailwindcss</p>
        <div class="h-0.5 w-full bg-blue-500 my-2"></div>
        <div class="flex items-center justify-around gap-4">
            <a href="/login">
                <button class='bg-blue-600 text-white font-semibold p-3 rounded-md text-lg hover:bg-blue-400 transition duration-300'>Login</button>
            </a>
            <a href="/signup">
                <button class="bg-blue-600 text-white font-semibold p-3 rounded-md text-lg hover:bg-blue-400 transition duration-300">
                    Signup
                </button>
            </a>
            <a href="/note">
                <button class="bg-blue-600 text-white font-semibold p-3 rounded-md text-lg hover:bg-blue-400 transition duration-300">
                    Go to Dashboard
                </button>
            </a>
        </div>
    </div>
    <footer class="text-zinc-100 bg-zinc-900 bg-opacity-40 text-base w-full flex items-center justify-center mt-auto py-2">
        Created by &nbsp; <a href="https://imutkarsht-portfolio.vercel.app/">Utkarsh Tiwari</a>
    </footer>
</body>
</html>