<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/output.css">
    <title>Sign Up</title>
</head>
<body class="min-h-screen font-custom flex flex-col">
    <nav class="bg-blue-500 text-3xl text-white font-semibold py-3 px-3 shadow-md shadow-zinc-400"><a href="/">Note Keep</a></nav>
    <div class="flex flex-col relative gap-3 bg-zinc-100 shadow-md dark:bg-zinc-900 shadow-zinc-300  dark:shadow-zinc-700 mt-[10vh] p-4 rounded-md min-w-[30vw] self-center">
        
        <h2 class="text-2xl text-zinc-500 font-semibold self-center ">Create an Account</h2>
        <div class="h-0.5 rounded-lg w-full bg-blue-500 my-1"></div>
        <form action="/user" id="signform" class="flex flex-col gap-3 transition-all duration-150 ease-in-out" method="post">
           
            <input type="text" class="p-3 bg-zinc-100  rounded-md mb-3  text-zinc-900 placeholder:text-zinc-500" name="username" id="username" placeholder="username">
            <input type="email" class="p-3 bg-zinc-100  rounded-md mb-3  text-zinc-900 placeholder:text-zinc-500" name="email" id="email" placeholder="Email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
            <input type="password" name="password" id="password" placeholder="Password" class="p-3 bg-zinc-100  rounded-md mb-3  text-zinc-900 placeholder:text-zinc-500">
            <button class="bg-blue-500 text-white font-semibold p-3 rounded-md text-lg hover:bg-blue-600 transition duration-300  type="submit">sign up</button>
        </form>
        <div id="notiPopup"  class="hidden transition-all ease-in-out duration-150 absolute backdrop-blur-md z-5 bg-transparent top-[30%] left-[10%]  rounded-md border shadow-md shadow-zinc-600 p-8 md:text-xl text-sm w-[80%] flex-col gap-4 items-center justify-center">
            <p id="message" class="text-green-500 font-semibold font-sans"></p>
            <button id="okBtn" class="p-6 text-2xl font-semibold py-2 rounded-lg bg-blue-500 text-white">ok</button>
        </div>
        <p class="self-center text-base text-zinc-500 font-semibold">Already Have account? <a href="/login" class="text-blue-400">login</a></p>

    </div>
    <footer class="bg-zinc-200 text-zinc-950 text-xl w-full flex items-center justify-center mt-auto py-2">
        Created by Utkarsh Tiwari
    </footer>
    <script src="/scripts/handleSignupMessage.js"></script>
</body>
</html>